<h1>Top Page</h1>
<p>This is the Top Page of this App. In future , you could see dashboard of All Project Sales in this page.  You could count on it!</p>
<h4><%= link_to "Departements" , departments_path %></h1>